html, body {
    margin: 0;
    padding: 1px;
    width: 1900px;
    height: 950px;
    background: lightcyan;
}

#titlebar {
    padding: 2px;
    text-align: center;
    background: lightskyblue;
    border-style: solid;
    width: 99%;
    height: 12%
}

#plots {
    padding: 2px;
    background: lightskyblue;
    border-style: solid;
    width: 99%;
    height: 86%;
}

#map {
    width: 35%;
    height: 100%;
    background: lightcoral;
    float: left;
}

#summary {
    width: 25%;
    height: 45%;
    background: gray;
    float: left;
}

#linegraph {
    width: 40%;
    height: 45%;
    background: lightblue;
    float: right;
}

#middlebar {
    width: 65%;
    height: 10%;
    background: lightsalmon;
    float: right;

}

#bar1 {
    width: 32.5%;
    height: 45%;
    background: lightgreen;
    float: left;
}

#bar2 {
    width: 32.5%;
    height: 45%;
    background: gray;
    float: right;
}

.databox {
    border-style: wave;
}
.bar {
    fill: steelblue;
}
.bar1 {
    fill: steelblue;
}

.axis {
    font: 10px sans-serif;